@{
    ViewData["Title"] = "Assigning Users Roles";
}


<h3 class="text-center text-info">@TempData["save"]</h3>
<div class="row  offset-2">
    <div class="col-6 ">
        <h1 class="text-primary">Assigning User Roles</h1>
    </div>
   @* <div class="col-6 text-end">
        <a class="btn btn-primary" asp-action="Create" asp-controller="Role">
            &nbsp; New Role
        </a>
    </div>*@
</div>
<div class="offset-2">
    <table class="table table-striped table-hover" @*id="myTable"*@>
        <thead class="table-info">
            <tr>
                <th>User Name</th>
                <th>Role Name</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in ViewBag.UserRoles)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.RoleName</td>

                   @* <td>

                        <partial name="_PartialView" model="@item.Id"></partial>
                    </td>*@
                </tr>
            }

        </tbody>
    </table>
</div>



@section scripts{


    <script type="text/javascript">

        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });

    </script>
}



